<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>survey</title>
</head>
<body>
<h1>Midterm Survey</h1>
    <form action="order2" method="post">
        <!-- get name -->
        <div class="form-group">
            <div>
                <label for="name" class="col-sm-2 control-label">Name</label>
                <input class="form-control" type="text" name="name" id="name" >
                <br>
            </div>
        </div>


    </form>
</body>
</html>