<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>survey</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="container">
    <h1>Midterm Survey</h1>
    <form method="post" action="#">

        <div class="form-group">
            <label>Enter your name:
                <input type="text" name ="name" value="{{ @userName }}">
                <check if="{{ isset(@errors['name']) }}">
                    {{ @errors['name'] }}
                </check>
            </label>
        </div>


        <check if="{{ @errors['options'] }}"><span class="err">{{ @errors['options'] }}</span></check>
        <div class="form-group">
            <label class="col-sm-2 control-label">Select options</label>
            <div class="col-sm-4">
                <div class="col-sm-4">
                    <repeat group="{{ @options }}" value="{{ @options }}">
                        <label><input type="checkbox"
                                      name="options[]"
                                      value="{{ @options }}"> {{ ucfirst(@options) }}</label><br>
                    </repeat>
                </div>
            </div>
        </div>

        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>